.myPost{
    /*background: red;*/
    max-width: 800px;
}

.myPost header{
    margin-bottom: 2.5rem;
}

.blog-details{
    margin-bottom: 1.5rem;
}

.small-txt{
    font-size: .9rem;
    display: flex;
    gap: .4rem;

}

.blog-body{
    font-size: 1.2rem;
    color: var(--color-primary);
}

.blog-txt{
    margin-bottom: 2.5rem;


}

.blog-txt{

}

.link-back{

}

.highlight{
    color: var(--color-secondary);
    font-weight: bold;
}

.icon-wrapper{
    width: .8rem;
}