
.main-container{
    height: 100vh;
}


.form-wrapper{
    width: 800px;
}

.form-container{
    display: flex;
    column-gap: 1.5rem;
    /*margin-bottom: 1.5rem;*/
    /*flex-direction: column;*/
}

label{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-bottom: 1.2rem;
    font-size: .9rem;
}

input, textarea{
    border: none;
    border-radius: 10px;
    padding: 1rem .8rem;
    margin: 0;
    background: var(--color-white);

}

.visible{
    display: block;
}

.hidden{
    display: none;
}

.error{
    color: red;
}